@use "variables" as *;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  line-height: 1.334rem;
  overflow-x: hidden;
  color: var(--mat-sys-on-background);
}

.mainWrapper {
  display: flex;
  min-height: calc(100vh - 72px);
  width: 100%;
  flex: 1;
  margin-top: 72px;
}

@media (max-width: 1023px) {
  .mainWrapper {
    margin-top: 157px;
  }
}

@media (max-width: 639px) {
  .mainWrapper {
    margin-top: 108px;
  }
}

.container {
  max-width: 1320px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;

  &.full-width {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.pageWrapper {
  padding: 24px 24px 0px;
  min-height: calc(100vh - 130px);

  margin: 0 auto;

  &.maxWidth {
    max-width: $boxedWidth;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-muted {
  color: var(--mat-sys-surface-container-lowest);
}

a {
  color: var(--mat-sys-on-background);

  &:hover {
    color: $primary;
  }
}

.mat-drawer[style*="visibility: hidden"] {
  display: none;
}

.ng-scroll-viewport[_nghost-ng-c2407083653]>.ng-scroll-content[_ngcontent-ng-c2407083653],
.ng-scrollbar-external-viewport[_nghost-ng-c2407083653] .ng-scroll-viewport>.ng-scroll-content {
  width: 100% !important;
}

.rounded-bars .apexcharts-bar-series.apexcharts-plot-series .apexcharts-series path {
  clip-path: inset(0 0 5% round 20px);
}