@use "../variables" as *;

.mat-mdc-form-field.mat-form-field-invalid {

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--mat-sys-error) !important;
  }
}